{% load static %}
{% load countrycuzzins_extras%}

<div class="m-widget video-widget-container">
  {% for video in music_videos %}
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">{{ video.title }}</h1>
    <p class="lead m-description">{{ video.short_description }}</p>
    <div class="video-wrapper bg-secondary">
      {% if video.is_youtube %}
      <iframe loading="lazy" src="{{ video.url }}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
      {% else %}
      <video controls>
        <source src="{{ video.url }}" type="video/mp4">
        <source src="{{ video.url }}" type="video/ogg">
        Your browser does not support the video tag.
      </video>
      {% endif %}
      <hr class="my-4">
    </div>
    <div class="producer-content">
      <small> Produced by:
        <a href="{{ video.producer.link }}">
          {{ video.producer.name }} @ {{ video.producer.company }}
        </a>
      </small>
    </div>
  </div>
  {% endfor %}
</div>