{% extends "countrycuzzins/base.html" %}
{% load static %}
{% load countrycuzzins_extras%}
{% block body %} {# Delete -- ONLY FOR TESTING#}
{# THIS IS THE TEST_HTML NOW#}
  <!--- Music Player -->
  <section id="m_musicplayer">
  <!--mp top one-->
  <nav id="mp_top_one" class="m-flex m-flex--inline m-flex--sb">
    <i class="fa fa-backward" aria-hidden="true"></i>
    <div>
      <i class="fa fa-forward" aria-hidden="true"></i>
    </div>
  </nav>

  <div class="album-container" style="background-image: url('{{ albums.0.image.image.url }}');">
    <div class="m-coverscreen"></div>
    <div class=" m-mp-album-top">
      <!--MP TOP BEGIN-->

            <!--mp top two-->
      <div id="mp_top_two" class="m-hero">
        <h3 class="m-title">{{ albums.0.name }}</h3>
      </div>
    </div>
    <!--MP TOP END-->

    <!-- MP CONTENT-->
    <div class="m-mp-album-content">
      <ul>
        {% for song in albums.0.songslist %}
        <li class="song-items">
          <h3>{{ song }} </h3>
          <audio controls>
            <source src="{{ song.file.url }}" type="audio/ogg">
            <source src="{{ song.file.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </li>
        {% empty %}
        <h4>NO SONGS </h4>
        {% endfor %}
      </ul>
    </div>
  </div>
  </div>
</section>

{% endblock body %} {# Delete -- ONLY FOR TESTING#}