{% extends "countrycuzzins/base.html" %}
{% load static %}
{% load countrycuzzins_extras%}
{% block body %}
<section id="main_musicplayer">
  <!--MUSIC PLAYER TOP-->
  <div class="cover-image" style="background-image: url('{{ albums.0.image.image.url }}')"></div>
  <div class="mp-top flex ">
    <!-- musicplayer controls -->
    <div class="mp-controls-container pos--abs" id="mp_controls">
      <!--control top-->
      <div class="control--top">
        <div class="title-wrapper flex">
          <h3 class="mp-title--top">{{ albums.1.name }}</h3>
          <h5 id="current_track" class="mp-subtitle"></h5>
        </div>

        <div class="track-info flex flex--inline flex--sa">
          <h6 id="track_position"></h6>
          <h6 id="track_duration"></h6>
        </div>
      </div>

      <!--control middle-->
      <div class="control--middle">
        <div class="controls controls-top flex flex--inline flex--sa">
          <i id="repeater" class="fa fa-repeat" aria-hidden="true"></i>
          <div id="mp_progress">
            <div id="progress_meter">
              <span id="progress_ball" draggable=true></span>
            </div>
          </div>
          <div class="volume-control">
            <i id="volume_btn" class="fa fa-volume-up" aria-hidden="true"></i>
            <div class="volume-container " id="volume_slider_wrapper"
              style="visibility:hidden; position:absolute;top:35px; right:10px;">
              <input type="range" name="volume_range" id="volume_slider" value="1" min="0" max="1" step=".1">
            </div>
          </div>
        </div>
      </div>

      <!--control bottom-->
      <div class="controls--bottom">
        <div class="controls controls-bottom  flex flex--inline flex--sa" id="main-controls">
          <input type="hidden" name="current_track_index" id="ctr_next_track" data-next_track="0">
          <i id="mp_rewind" class="fa fa-backward" aria-hidden="true"></i>
          <i id="mp_play" class="fa fa-play" aria-hidden="true"></i>
          <i id="mp_fast_forward" class="fa fa-forward" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </div>

  <!--MUSIC PLAYER BOTTOM-->
  <div class="mp-bottom">
    <ul id="track-list">
      {% for song in albums.1.songslist %}
      {# Add thumbs icons here#}
      <div class="track-item" data-tracknumber={{forloop.counter}}>
        <small class="mp_track-index">track {{forloop.counter}}</small>
        <li class="track-item-inner list-item flex flex--inline flex--sb">
          <input type="hidden" name="songs_url" class="song_urls" value="{{ song.file.url }}">
          <h4 class="song-title"> {{ song|re_sub:"_" }}</h4>
          <i class="mp-equalizer material-icons">equalizer</i>
          {# REMOVE THIS #}
          {% comment %} <audio class="mp_audio">
            <source src="{{ song.file.url|space_escape}}" type="audio/mpeg">
          </audio> {% endcomment %}
        </li>
      </div>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock body %}