{% extends "countrycuzzins/base.html" %}
{% load static %}
{% block header %}
  <div class="l-nav-sticky">
    <nav class="m-nav-main">
      <div class="m-nav-items">
        <img class="i-logo-img img-round" src="{% static 'media/images/Now_or_Never_Logo.png' %}" alt="LOGO" class="img img-round">
        <h1 id="logo_title">Cuzzins</h1>
      </div>
      <ul class="m-nav-items">
        <li class="m-menu-link"><a href="#">News</a></li>
        <li class="m-menu-link"><a href="#">Music</a></li>
        <li class="m-menu-link"><a href="#">Home</a></li>
        <li class="m-menu-link"><a href="#">About</a></li>
        {% if request.user.is_authenticated %}
            <div class="dropdown open" id="m_nav_dd">
              <button class="btn btn-primary dropdown-toggle" type="button" id="m_bs_user_btn" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{ request.user }}
                  </button>
              <div class="dropdown-menu" aria-labelledby="m_bs_user_btn">
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </div>
        {% else %}
          <li class="m-menu-link"><a href="#"> Logout</a></li>
          <li class="m-menu-link"><a href="#"> Register</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock header %}
