{% extends "countrycuzzins/base.html" %}
{% load static %}
{% block header %}
 <section id="main_nav_container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_nav">
    <a class="navbar-brand" href="#">Home</a>
    <span class="navbar-user navbar-brand">
      {% if request.user.is_authenticated %}
       <li class="nav-item">
          <a class="user-profile-img" href="#Login_register" class="nav-link">
            <i class="fa fa-user" aria-hidden="true"> </i>
          {{ request.user }}
          </a>
        </li>
      {% else %}
        <li class="nav-item">
        </li>
         <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-user" aria-hidden="true"></i>
            Login
          </a>
        </li>
      {% endif %}

      </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Event<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      
    </div>
  </nav>
 </section>
{% endblock header %}
