{% extends "countrycuzzins/base.html" %}
{% load static %}
{% load countrycuzzins_extras%}
{% block body %}
  <div class="row justify-content-md-center">
    <div class="col-6 col-md-4">
      <section id="main_musicplayer">
        <!--MUSIC PLAYER TOP-->
        <div class="cover-image" style="background-image: url('{{ albums.0.image.image.url }}')"></div>
        <div class="mp-top flex ">
          <!-- music headers -->
          <nav class="nav" id="mp_navigation">
            <ul class="nav-list flex flex--inline flex--sa">
              <li class="nav-items">
                <i class="fa fa-music" aria-hidden="true"></i>
              </li>
              <li class="nav-items">
                <i class="fa fa-music" aria-hidden="true"></i>
              </li>
              <li class="nav-items">
                <i class="fa fa-music" aria-hidden="true"></i>
              </li>
            </ul>
          </nav>
          <!-- musicplayer controls -->
          <div id="mp_controls">
            <div class="title-wrapper flex">
              <h3 class="mp-title--top">{{ albums.0.name }}</h3> 
              <h6 id="current_track" class="mp-subtitle"> G.M.B.U</h6>
            </div>
            <div class="track-info flex flex--inline flex--sa">
              <h6 id="track_position">2:06</h6>
              <h6 id="track_duration">4:00</h6>
            </div>
            <div class="controls controls-top flex flex--inline flex--sa">
              <i class="fa fa-repeat" aria-hidden="true"></i>
              
              <div id="mp_progress">
                <div id="progress_meter">
                <span id="progress_ball"></span>
                </div>            
              </div>
              <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="controls controls-bottom  flex flex--inline flex--sa" id="main-controls">
              <i id="mp_rewind" class="fa fa-backward" aria-hidden="true"></i>
              <i id="mp_play" class="fa fa-play" aria-hidden="true"></i>
              <i id="mp_fast_forward" class="fa fa-forward" aria-hidden="true"></i>
            </div>
          </div>
          
        </div>

        <!--MUSIC PLAYER BOTTOM-->
        <div class="mp-bottom">
          <ul id="track-list">
            {% for song in albums.0.songslist %}
            <small class="mp_track-index">track {{forloop.counter}}</small>
            {# Add thumbs icons here#}
              <li class="track-list list-item flex flex--inline flex--sb">
                <h4 class="song-title"> {{ song|re_sub:"_" }}</h4>
                <input type="hidden" name="songs_url" class="song_urls" value= "{{ song.file.url|space_escape}}">
                <i class="mp-equalizer material-icons">equalizer</i>
                {# REMOVE THIS #}
                  {% comment %} <audio class="mp_audio">
                    <source src="{{ song.file.url|space_escape}}" type="audio/mpeg">
                  </audio> {% endcomment %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </div>
  </div>
{% endblock body %}