/**** BASES ****/
*, *::before, *::after
  padding: 0
  margin: 0
  -webkit-box-sizing: border-box  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box     /* Firefox, other Gecko */
  box-sizing: border-box          /* Opera/IE 8+ */

body,html
  background: $primary
  font: normal 16px Arial, "Helvetica Neue", Helvetica, sans-serif
  margin: 0
  padding: 0
  width: 100vw
  height: 100vh
  background: red
  color: #000
  overflow-x: hidden

h1,h2,h3,h5,h5
  padding: 0
  margin: 0

section
  display: block

ul
  padding: 0
  margin: 0

a,button
  font: 700 1em "Anton", sans-serif
  color: $primary
  background: $secondary
  border-radius: 10px
  outline: none
  border: none
  :hover
    outline: none
    border: none
    border-radius: 10px

li,a,i,button
  &:hover
    cursor: pointer

button
  &:hover
    border: none
    outline: none

li,li:hover
  list-style: none
a,a:hover
  text-decoration: none
  color: inherit
