{% extends 'countrycuzzins/base.html' %}
{% load static %}
{% load countrycuzzins_extras%}
{% block body %}
<div class="l-bgi-container" style="background-image: url('{{object.image.image.url}}')">
  <div class="jumbtron jumbotron-fluid">
    <div class="container">
      <div class="l-article" 
        <div class="l-article--detail">
          <h1 class="display-4">{{object.headline}}</h1>
          <p>{{object.blog}}</p>
        </div>
      </div>
    </div>

<div class="jumbtron jumbotron-fluid">
    <div class="l-article" 
      <div class="container">
        <div class="l-article--detail">
          <h1 class="display-4">{{object.headline}}</h1>
          <p>{{object.blog}}</p>
        </div>
      </div>
    </div>
 </div>

  
{% endblock body %}