{% extends 'base.html' %}
{% load static %}
{% load countrycuzzins_extras%}


{% include 'countrycuzzins/snippets/_navigation.html' %}
{% block body %}
{% include 'countrycuzzins/snippets/_navigation.html' %}
<section id="l_index_main_section">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="m-widget" id="l-logo-full">
        <img class="m-img-wrapper m-img-wrapper--full" src="{% static 'media/images/Now_or_Never_Logo.png'%}"
          alt="Now or Never Logo">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="m-banner m-banner-half">
        <h2 class="m-title">Country Cuzzins</h2>
        <p class="m-subtitle">Check out the latest music !!</p>
        <button class="action"><a href="#">Country Cuzzins - recipe</a></button>
      </div>
      {# Music player #}
      {% comment %} <div class="m-widget" id="music_player_wrapper">
        {% include 'countrycuzzins/snippets/_music_player.html' with albums=albums %}
      </div> {% endcomment %}
    </div>
  </div>
  <!--Carousel-->


  <div class="row">
    <div class="col-12">
      <div class="m-widget">
        <h1 class="m-title m-title--heading">Photo Gallery </h1>

        <div id="cs_container" class="carousel slide z-depth-1-half" data-ride="carousel">
          <div class="carousel-inner">
            {% for image in Images %}
            {% if forloop.first %}
            <div class="carousel-item active ">
              <img class="d-block w-100 m-cs-img" src="{{ image.image.url }}" alt="First slide">
            </div>
            {% else %}
            <div class="carousel-item m-cs-item ">
              <img class=" d-block w-100 m-cs-img" src="{{ image.image.url }}" alt=" Second slide">
            </div>
          </div>
          {% endif %}
          {% endfor %}
          <a class="carousel-control-prev" href="#carouselExample1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>


</section>

{% endblock body %}