{% extends 'countrycuzzins/base.html' %}
{% load static %}
{% load countrycuzzins_extras%}
{% block body %}
  <section class="l-main-section full-bgimg zed--1" style="background-image:url('{% static  "media/images/CC_pose_in_street.png" %}');">
    <section class="l-inner-section-overlay zed--3">
    <div class="l-banner-container">
      <div class="m-banner">
        <div class="m-image-wrapper m-image-wrapper--article">
          <img src="" alt="">
            <p class="m-content-article"></p>
        </div>
      </div>
    </div>
    </section>
  </section>

{% endblock body %}