{% extends 'base.html' %}
{% load static %}
{% load countrycuzzins_extras%}
{% block body %}
<section id="music_video_view">
<div class="row no-gutter">
  <div class="col-12">
    <div class="video-container">
      <div class="feature-wrapper">
        <div class="img-wrapper" style="display:block;text-align: center;margin:100px auto; width:100%;">
          {% comment %} <img style="" src="https://img.youtube.com/vi/P3vuh4JT3Js/3.jpg" alt=""> {% endcomment %}
          <div>
            {{ music_videos.0.thumbnail| safe }}
          </div>
          <div>
        <img src="https://img.youtube.com/vi/P3vuh4JT3Js/hq1.jpg" style="width:800px;height:400px;" alt=" video image">
          </div>
          <div>
        <img src="https://img.youtube.com/vi/qvFYQ_eenuU/hq1.jpg" style="width:800px;height:400px;" alt=" video image">
          </div>
          <div>
        <img src="https://img.youtube.com/vi/61Y90qEBrxY/hq3.jpg" style="width:800px;height:400px;" alt=" video image">
          </div>
        </div>


      </div>


    </div>
  </div>
</div>
</section>
{% endblock body %}