/**** MODULES ****/

.m-flex
  display: flex
  flex-direction: column
  &--inline
    flex-direction: row
    justify-content: space-evenly
  &--sa
    justify-content: space-around
  &--se
    justify-content: space-evenly
  &--sb
    justify-content: space-between
  &--end
    justify-content: flex-end

.m-title
  text-align: center
  font: 900 2em Roboto, Arial, sans-serif
  &--bg
    text-transform: uppercase
  &--header
    color: $secondary
    text-align: center
    font: 900 3em Anton, Arial sans-serif
    letter-spacing: .1em
    margin-bottom: 20px

.m-subtitle
  font: 600 .8em Roboto, Arial, sans-serif

.m-btn
  border-radius: 5px
  &--action
    box-shadow: 2px 2px 5px #000
    letter-spacing: .2em

  &:hover
    background: red

.m-flex
  display: flex
  flex-direction: columns
  justify-content: space-between
  align-items: flex-start

  &--inline
    flex-direction: rows
  &--sa
    justify-content: space-around
  &-fe
    justify-content: flex-end

// Main widget wrapper for all divs
.m-widget
  display: block
  height: auto
  width: 100%
  padding-top: 20px
  margin: 40px 0

.m-banner
  display: flex
  flex-direction: column
  align-items: center
  justify-items: space-around
  &--header
    justify-self: flex-start

.m-img
  display: block
  margin: auto
  width: 100%
  height: 400px

  &--full
    padding: 10px
  &--round
    box-shadow: 5px 5px 8px #000
  &--logo
    display: block
    width: 100px
    height: inherit
  &--profile
    border-radius: 50%
    width: 50px
    height: 45px
    border: 2px solid #000

.profile-tray
  display: flex
  flex-direction: row
  width: fit-content
  justify-content: space-between

  .profile-title
    font: 600 1.3em Arial,sans-serif
    align-self: flex-end
    justify-self: flex-end
    margin-left: 20px

// CAROUSEL
.m-carousel-wrapper
  display: block
  padding: 20px 50px

// Index Carousel 
#index_carousel
  display: flex
  flex-direction: rows
  justify-self: center
  align-content: center
  width: 100%

  .carousel-inner
    .carousel-item
      diplay: block
      margin: 0 auto
      width: 100%
      padding: 10px
      max-height: 500px
      img
        margin: 0 auto
        background: #fff
        width: 100%
        height: 500px

  a
    background: rgba(207, 201, 201,.2)
    +CrossBrowser(transition, .3s ease-in-out)
    &:hover
      background: rgba(207, 201, 201,.7)
  .m-cr-control
    +CrossBrowser(background-color, rbga(0,0,0,.4))
    +CrossBrowser(background, rbga(0,0,0,.4))

// Index Card 
.card-deck-wrapper
  width: 100%

.card-deck
  display: grid
  margin: 20px 0px
  grid-template-columns: repeat(3, 1fr)
  grid-gap: .5em
  justify-items: center

  img
    @extend .m-img
    padding: 0
    border-radius: 50%
    width: 200px
    height: 200px
    margin: 0 auto

  .card-block
    text-align: center
    width: calc(100vw / 4 )
    padding: 20px 10px

    .card-text
      height: auto
      text-align: center
      line-height: 1.5rem !important
      word-wrap: break-word
      font: 300 1em Helvetica, sans-serif
      color: #575757

// Index Videos 
#music_videos
  background: whitesmoke
  display: flex
  width: 100%
  align-self: center
  flex-direction: row
  align-content: center
  align-items: center
  justify-content: center
  font-size: 1rem

  .jumbotron
    +CrossBrowser(transform,translate(-50% -50%))
    text-align: center
    background: transparent
    margin: 5em 0

    h1.display-4
      color: $secondary
      font: 400 3em "Ultra",cursive, Arial, sans-serif
      letter-spacing: .15em
      text-transform: uppercase
    .m-description
      margin-top: 1em
      color: #575757
      justify-self: flex-start
      text-align: left
      font: normal 1.2em Helvetic Arial,sans-serif
    .video-container
      width: 100%
      max-height: 500px
      iframe,video
        width: 100%
        height: 500px

//Follow us Banner
.m-follow-us-container
  width: 100%
  .m-banner--header
    margin-bottom: 20px
    .m-title
      &--bg
        font: 700 3.5em 'Anton',cursive ,Arial, sans-serif
        letter-spacing: .15em
        color: $secondary
        text-shadow: 2px 2px 5px #000

    .m-subtitle
      width: 100%
      text-align: center
      font-size: 1.2em
      white-space: pre-line
      line-height: 1.2em

  .m-banner--content
    width: fit-content

//Social Media 
.m-social
  display: flex
  justify-content: center
  font-size: 1rem
  width: 100%
  &--icon-list
    display: flex
    width: 100%
    padding: 20px
  &--item
    padding: calc(100% / 25)
    .fa,.fa5,.fa4
      display: flex
      align-content: center
      align-items: center
      justify-content: center
      padding: .7em
      font-size: calc(100vw / 25)
      width: 2em
      height: 6em
      border-radius: 20px

      &.fa-facebook
        background: #00f
        color: #fff
      &.fa-instagram-
        background: #fff
        color: #bc2a8d
      &.fa-snapchat-ghost,.fa-snapchat
        background: #fffc00
        color: #fff
        text-shadow: 2px 2px 5px #000

      &.fa-twitter
        background: #00f

      &.fa-youtube, &.fa-youtube-square
        background: #bb0000
        color: #fff
        color: #fff
        color: #fff
        color: #fff
