/**** MODULES ****/

.m-article-container
  display: block
  max-height: 800px
  width: 100%
  position: relative
  // tinted image with background effect
  .m-article
    display: block
    &--bgi
      display: block
      +bg_div_image(absolute,contain,"50% 50%")
      height: $bgi_image_height
      &::before
        display: block
        content: ""
        position: absolute
        height: $bgi_image_height
        width: 100%
        content: ""
        background: rgba(0, 0, 0, .5)
