//*** Music Player Module ***//

// Delete body only here to stop screen from being too bright
// while testing 

// +bg_div_image(absolute,cover,"120% 50%")
//   filter: grayscale(75%)
//   z-index: 1

//-------------DELETE TOP -------//

$player-height: 500px
$dark: #1A1B1E
$light: #e9e9e9
$ctrl_primary: rgb(244, 67, 54)
$ctrl_primary_rgba: rgba(244,67,54,.3)
$ctrl_secondary: #03A9F4

// Base rules for icon
i
  verticle-align: middle
  text-align: center
  padding: 2px
  width: 50px
  border-radius: 10px
  max-height: 40px
  transition: .3s
  cursor: pointer

.flex
  display: flex
  flex-direction: column
  &--inline
    flex-direction: row
  &--sa
    justify-content: space-around
  &--sb
    justify-content: space-between

.hidden
  display: none

body
  background: grey

section#main_musicplayer
  width: 100%
  height: $player_height
  background: $dark
  color: $light
  position: relative
  padding: 10px
  border-radius: 10px
  border: 1px solid #1c1c1c
  overflow: hidden

// musicplayer top window 
.mp-top
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  width: 100%
  height: 300px
  z-index: 2

.cover-image
  display: block
  height: 240px
  position: relative
  +bg_div_image(absolute,cover,"100% 50%")
  &::after
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: ""
    height: inherit
    background: rgba(0,0,0,.8)
    z-index: 1

// PLAYER CONTROLS 
.mp-controls-container
  width: 95%
  position: absolute
  top: 30px
  left: 0
  right: 0
  bottom: 100px
  .controls-top
    margin-bottom: 5px

  .mp-subtitle
    margin-top: 5px

  i
    font-size: 28px
    padding: 5px
    transition: .3s ease-in-out
    border-radius: 10px
    &:hover
      padding: 5px
      color: #fff
      background: $ctrl_primary

  .volume-control
    display: block
    max-width: 50px
    position: relative

  .volume-container
    display: block
    transform: rotateZ(270deg)
    position: absolute
    left: 30%
    top: -50%
    &.mobile
      position: absolute
      left: -150%
      top: -150%
      bottom: 50%
      transform: rotateZ(0deg)

      height: 10px /* reverse since rotated.. width is height */
      width: 100px
    #volume_slider
      -webkit-appearance: none  /* Override default CSS styles */
      appearance: none
      width: 100% /* Full-width */
      height: 8px
      background: #d3d3d3 /* Grey background */
      outline: none /* Remove outline */
      opacity: 0.7 /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s /* 0.2 seconds transition on hover */
      transition: opacity .2s

    //* Mouse-over effects */
    #volume_slider:hover
      opacity: 1 /* Fully shown on mouse-over */
      height: 8px

    //* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    #volume_slider::-webkit-slider-thumb
      -webkit-appearance: none /* Override default look */
      appearance: none
      width: 15px /* Set a specific slider handle width */
      height: 20px /* Slider handle height */
      background: $ctrl_primary /* background */
      cursor: pointer /* Cursor on hover */
      border-radius: 50%

    #volume_slider::-moz-range-thumb
      width: 25px /* Set a specific slider handle width */
      height: 25px /* Slider handle height */
      background: #4CAF50 /* Green background */
      cursor: pointer /* Cursor on hover */

.title-wrapper
  margin-bottom: 40px
  align-self: center
  text-align: center
  letter-spacing: .15em

  .mp-title--top
    font: 24px
    font-family: 'Racing Sans One', cursive
    letter-spacing: .15em
  .mp-subtitle
    color: #fff
    font: 500 18px  Oswald, "Roboto Slab", Merriweather
    letter-spacing: .15em

.track-info
  margin: 0 45px

#mp_progress
  display: block
  width: 200px
  height: 4px
  background: rgba(255, 255, 255, 0.3)
  border-radius: 10px
  position: relative

#progress_meter
  // progress bar
  display: block
  position: relative
  height: 4px
  width: 0px
  background: red
  //$ctrl_primary

  #progress_ball
    // progress ball
    content: ""
    position: absolute
    background: #f2f2f2
    left: 0px
    top: -5px
    height: 12px
    width: 12px
    border-radius: 50%
    cursor: pointer

.controls-bottom
  margin-top: .5em

// TRACK SECTION
.mp-bottom
  height: 250px
  padding: 5px 10px
  border-top: 1px solid grey
  border-bottom: 2px solid $secondary
  overflow: auto

  #track-list
    width: 100%
    .track-item
      transition: .3s
      border-radius: 5px
      padding: 5px
      letter-spacing: .15em
      &:hover
        cursor: pointer
        background: $ctrl_primary_rgba

    .track-index
      color: grey
      letter-spacing: .15em

    .list-item
      padding: 10px 2px
      border-bottom: 1px solid $light
      i
        align-self: flex-end
        font-size: 1.3em

      i.active
        color: $ctrl_primary
        background: $light

  .song-title
    display: block
    max-width: 85%
    font: 1em Roboto ,Arial, san-serif
    text-size-adjust: 80%
