//*** Music Player Module ***//

// Delete body only here to stop screen from being too bright
// while testing 

*,*::before,*::after
  box-sizing: border-box

// +bg_div_image(absolute,cover,"120% 50%")
//   filter: grayscale(75%)
//   z-index: 1


//-------------DELETE TOP -------//


$dark: #1A1B1E
$light: #e9e9e9
$ctrl_primary: #F44336
$ctrl_secondary: #03A9F4

i
  transition: .3s 
  cursor: pointer
  &:hover
    color: smokey
  
.flex
  display: flex
  flex-direction: column
  &--inline
    flex-direction:  row
  &--sa
    justify-content: space-around
  &--sb
    justify-content: space-between

.hidden
  display: none

body 
  background: grey

#main_musicplayer
  width: 100%
  height: 600px
  margin-top: 100px
  background: $dark
  color: $light
  position: relative
  padding: 10px
  border-radius: 10px
  border: 1px solid silver
  
.mp-top
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  width: 100%
  height: 300px
  z-index: 2


.cover-image
  display: block
  height: 300px
  position: relative
  +bg_div_image(absolute,cover,"100% 50%")
  &::after
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: ""
    height: inherit
    background: rgba(0,0,0,.8)
    z-index: 1


#mp_navigation
  margin: 0
  display: flex
  max-height: 100px
  padding: 10px 0 

  .nav-list
    width: 100%
    color: $light



// PLAYER CONTROLS 
#mp_controls
  position: absolute
  left: 0 
  right: 0
  bottom: 20px
  .controls-top
    margin-bottom: 15px

.title-wrapper
  margin-bottom: 40px
  align-self: center
  text-align: center

  .mp-title--top
    font: 24px 
    font-family: Oswald, "Roboto Slab", Merriweather
    letter-spacing: .15em
    

.track-info
  margin: 0 45px

#mp_progress
  display: block
  width: 200px
  height: 4px
  background: rgba(255, 255, 255, 0.3)
  border-radius: 10px
  position: relative

#progress_meter
  // progress bar
  display: block
  position: relative
  height: 4px
  width: 0px
  background: red
  //$ctrl_primary
  
  #progress_ball
    // progress ball
    content: ""
    position: absolute
    background: #f2f2f2
    left: 0px
    top: -5px
    height: 12px 
    width: 12px 
    border-radius: 50%

.controls-bottom
  i
    font-size: 28px
    padding: 5px
    &:hover
      color: $ctrl_primary


// TRACK SECTION
.mp-bottom
  height: 300px
  overflow: auto 
  padding: 5px 10px
  border-top: 1px solid grey

  #track-list
    width: 100%
    .track-index
      color: grey 
      letter-spacing: .15em

    .list-item
      padding: 10px 2px
      border-bottom: 1px solid $light
      i
        font-size: 28px
      i.active
        color: $ctrl_primary

  .song-title
    font: 18px Roboto ,Arial, san-serif
    text-size-adjust: 80%


