/**** MIXINS ****/
=LineSpread($pos,$bottom,$color:"#fff")
  // Border bottom line spread  from middle
  box-sizing: border-box
  positon: $pos
  bottom: $bottom
  border-bottom: 3px solid $color
  animation-name: spread_ease_out
  animation-duration: .5s
  animation-fill-mode: forwards

// Full Page image 
=bg_Image_Cover($width,$height,$pos,$size,$bpos:"center center")
  height: $height
  width: $width
  position: $pos
  background-color: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35))
  background-repeat: no-repeat no-repeat
  background-position: unquote($bpos)
  background-attachment: fixed
  -webkit-background-size: unquote($size)
  -moz-background-size: unquote($size)
  -o-background-size: unquote($size)
  background-size: unquote($size)
  color: #fafafa
