/**** MIXINS ****/

// Cross Browser Property
=CrossBrowser($name,$style)
  -moz-#{$name}: #{$style}
  -webkit-#{$name}: #{$style}
  -ms-#{$name}: #{$style}
  -o-#{$name}: #{$style}
  #{$name}: #{$style}

=Borders()
  $range: 1,2,3,4,5,6,7,8,9,10 
  $colors: ("primary": $secondary,"dark":black,"error":red,"info":blue,"success":green,"warn":yellow)
  @each $size in  $range
    @each $name,$color in $colors
      &.bdr-#{$size}-#{$name}
        border: #{$size}px solid #{$color}

=position_zero
  // zero out all position element 
  top: 0
  bottom: 0
  left: 0
  right: 0

=LineSpread($pos,$bottom,$color:"#fff")
  // Border bottom line spread  from middle
  box-sizing: border-box
  positon: $pos
  bottom: $bottom
  border-bottom: 3px solid $color
  animation-name: spread_ease_out
  animation-duration: .5s
  animation-fill-mode: forwards

// Image to fit div container 
=mixin_bg_image($pos,$bgsize,$bpos:"center center",$repeat:"no-repeat no-repeat")
  top: 0
  left: 0
  right: 0
  background-attachment: $pos
  +CrossBrowser(background-position,unquote($bpos)) //50% 40%
  +CrossBrowser(background-repeat,no-repeat)
  +CrossBrowser(background-size,$bgsize )

// KEYFRAMES
=keyframe($name)
  $colors: green,red,blue,yellow,orange,purple,grey,pink,teal,orangered
  @keyframes #{$name}
    $length: #{100 / length($colors)}
    @debug length is $length
    $frame: 0

    @each $color in $colors
      #{$frame}%
        @debug $color
        //box-shadow: 2px  5px 5px  $color
        $lgc: red
        @for $c from 1 through 5
          $lgc: append($lgc,nth($colors, random(length($colors))),comma)
          background: linear-gradient(45deg, $lgc)
      $frame: $frame + $length
    @content

// PHONE RESPONSIVE 
=responsive_phone_mixin()
  header
    height: 30px

  section.nav-spacer
    display: block
    width: 100%
    margin-top: 0px

  #main_nav_logo
    display: none

  #main_musicplayer
    .mp-subtitle
      margin-top: 15px
      font-size: .8em

    #track-list
      .track-item
        letter-spacing: .1em

  // Index Carousel
  .m-carousel-wrapper
    padding: 10px

  #index_carousel
    display: flex
    flex-direction: rows
    justify-self: center
    align-content: center
    width: 100%

    .carousel-inner
      .carousel-item
        diplay: block
        width: 100%
        max-height: 300px
        img

          width: 100%
          margin: 0 auto
          height: 300px
    .m-cr-control
      max-width: 100px
      +CrossBrowser(background-color, rbga(0,0,0,.4))
      +CrossBrowser(background, rbga(0,0,0,.4))
      &--left
        left: -15px
      &--right
        right: -15px

  //CARD 
  .card-deck
    display: grid
    grid-template-columns: 1fr
    grid-template-row: repeat(3,1fr)
    grid-gap: 1.5em
    width: 100%
    padding: 0 10px
    .card-block
      width: 100%

  // Music video
  #music_videos
    font-size: .75rem

    .jumbotron
      display: block
      width: 100%
      padding: 0 20px
      .video-container
        display: block
        width: 100%
        max-height: 350px
        overflow-y: hidden
        iframe,video
          height: 200px
          width: 100%

  // social media icon
  .m-social
    display: flex
    justify-content: center
    font-size: .7rem
    width: 100%
    &--item
      .fa,.fa5,.fa4
        display: flex
        max-width: 24px
        align-content: center
        align-items: center
        justify-content: center

    #account_signup_section
      margin: 5px
      .m-banner
        font-size: .75rem
        letter-spacing: .02rem

  // Profile Page breakpoint
  .profile-main-container
    font-size: .5rem
    .m-img--profile.bg
      width: 100px
      height: 100px

    .m-banner
      &--header
        .m-title,.m-subtitle
          font-size: 2em
          max-width: 200px
          +CrossBrowser(word-break,break-word )
        .m-subtitle
          font-size: 1.2em
      &--content
        display: block
        legend
          font-size: .8rem
          margin-bottom: 2px !important
        .form-toggle
          display: flex
          justify-content: space-around
          align-content: center
          width: 100%
          background: grey
          border: 1px solid lightgrey
          text-align: center
          padding: 5px 0
          margin: 0
          button
            display: flex
            align-items: center
            width: 45%
            font-size: 2em
            font-weight: bold
            border-radius: 4px
            background: rgba(0,0,255,.5)
            span
              font-size: .65em

    .pf-wrapper
      &--bottom
        .pf-form-container
          display: grid
          grid-template-columns: auto
          .form-wrapper
            grid-column: 1 / 3
            display: block
            width: 100%
            color: red

      .m-title
        font-size: 1.15rem

// TABLETS RESPONSIVE 
=responsive_tablet_mixin()

  // Cards
  .card-deck
    display: grid
    margin: 10px 0px
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-gap: 1em
    .card-nob:nth-child(3)
      grid-row: 2
      grid-column: 1 / 3
      .card-block
        width: calc(100% /  2)
        margin: 0 auto
    .card-block
      width: fit-content
      padding: 20px 30px

  // Music Vidoes
  #music_videos
    .jumbotron
      padding: 10px
