/**** MIXINS ****/
=LineSpread($pos,$bottom,$color:"#fff")
  // Border bottom line spread  from middle
  box-sizing: border-box
  positon: $pos
  bottom: $bottom
  border-bottom: 3px solid $color
  animation-name: spread_ease_out
  animation-duration: .5s
  animation-fill-mode: forwards

// Image to fit div container 
=bg_div_image($pos,$bgsize,$bpos:"center center",$repeat:"no-repeat no-repeat")
  top: 0
  left: 0
  right: 0
  background-attachment: $pos
  background-position: unquote($bpos) //50% 40%
  background-repeat: unquote($repeat)
  -webkit-background-size: $bgsize
  -moz-background-size: $bgsize
  -o-background-size: $bgsize
  background-size: $bgsize
