/**** VARIABLES ****/
// HEX COLORS
$goldred: #ff6600

/// RGBA 
$rgb_black_50: rgba(0, 0,0 ,.5 )
$rgb_goldred_50: rgba(255, 102, 0,.5)

// FONT
$nav_logo_font: 32px "Arial Black",Oswald, sans-serif
$nav_links_font: 700 24px Arial, Helvetica, sans-serif,"Open Sans"
