<footer id="footer">
    <div class="footer-wrapper">
      <div class="foot-tray">
        <div class="header">
          <h4 class="m-title">Stay Conneted</h4>

        </div>
        <div class="content">
          <div class="socials">
            <h2 class="foot-title">Follow Us</h2>
            <a class="fa fa-facebook" href="https://www.facebook.com/countri.cousins"></a>
            <a class="fa fa-instagram" href="https://www.instagram.com/country_cousinz2020/"></a>
            <a class="fa fa-twitter" href="https://twitter.com/OfficialCountr2"></a>
            <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCXQ376o9hzgTfhMoD54rrGg"></a>
            </div>
        </div>
      </div>
      <!-- tray 1 end -->
      <div class="foot-tray">
        <div class="header">
          <h4 class="m-title">Stay Conneted</h4>
        </div>
        <div class="content">
          sign up blahh blah 
        </div>
      </div>
      <!-- tray 2 end -->
      <div class="foot-tray">
        <div class="header">
          <h4 class="m-title">Stay Conneted</h4>
        </div>
        <div class="content">
          sign up blahh blah 
        </div>
      </div>
      <!-- tray 3 end -->
      </div> {# wrapper end#}
      {% comment %} 
      <div class="footer-col" id="ft-slide" style="">
        <div class="contacts">
          <h2 class="foot-title">Contacts</h2>
          <i class="material-icons">email</i>
          <span>NoworNever@gmail.com</span>
        </div>
        <div class="policy">
          <h2 class="foot-title">Privacy Policy</h2>
            <a href="{% url 'privacy_policy' %}"> Privacy Policy</a>
        </div>
        <div class="socials">
          <h2 class="foot-title">Follow Us</h2>
          <a class="fa fa-facebook" href="https://www.facebook.com/countri.cousins"></a>
          <a class="fa fa-instagram" href="https://www.instagram.com/country_cousinz2020/"></a>
          <a class="fa fa-twitter" href="https://twitter.com/OfficialCountr2"></a>
          <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCXQ376o9hzgTfhMoD54rrGg"></a>
        </div>
     </div>
      <div class="row-third">
        <div class="copyrights">
        <small class="author">
          <p>Created by Cornelius Brooks</p>
            <p id="author_details" style="display:none">
              <i class="material-icons">email</i>
              <a id="cr_noflex" class="email" style="" href="https://mail.google.com/mail/?view=cm&fs=1&to=cbedroid1614@gmail.com&su=Business Inquiry">cbedroid1614@gmail.com</a>
            </p>
          <p>&copy; Copyright 2020, NowOrNever LLC.</p>
        </small>
      </div> 
    </div>
      {% endcomment %}
   </footer>