/**** LAYOUTS  ****/
.zed
  // z-index of positional element
  &--1
    z-index: 1
  &--2
    z-index: 2
  &--3
    z-index: 3

// navigation
#main_nav
  background: $primary
  color: $secondary
  font: 600 .5rem  Arial, sans-serif

#l_index_main_section
  width: 100vw
  height: 100vh
  margin: 0
  padding: 0
  background: $primary

// modal id upcoming
#modal_upcoming
  +CrossBrowser(transition, .5s ease-in-out)
  .modal-content
    +CrossBrowser(background-image, linear-gradient(to left,#f9f9f9, #c1c2c3, #b9b9b9,#a0a0a0,#4a4a4a,#222))

  #modal_upcoming_title
    text-align: center
    margin-left: 20px
    color: $secondary
    text-transform: uppercase
    text-shadow: 2px 5px 5px #000
    letter-spacing: .2em
    +CrossBrowser(transform,translate(-50% -50%) )
  .m-subtitle
    display: block
    width: 100%
    text-align: center
    padding: 10px 0px
    letter-spacing: .2rem
    font-size: 1rem
    font-weight: 800
    font-family: 'Anton','Roboto',serif
    color: #1c1c1c
    +CrossBrowser(transform,translate(-50% -50%) )

  .modal-body
    .m-title
      text-shadow: 2px 2px 2px $secondary
      font: 600 2.5em 'Ceviche One', cursive
      letter-spacing: .25em
      text-transform: uppercase
    img
      height: 250px
      border-radius: 2px
      +CrossBrowser(box-shadow,2px 5px 5px solid #000)
  .modal-footer

    button:nth-child(2)
      background: $secondary
      color: $primary

#about_card
  width: 100vw
  background: whitesmoke
