/*** LAYOUTS ***/

.l-index-pg
  min-height: calc(100vh / 3)
  width: 100%

#sect_one
  display: block

// Section main backgrond image 
#section_index_main
  display: block
  position: fixed
  top: 0
  width: 100%
  height: auto
  +bg_Image_Cover(100%,auto,"center 55%")
