/* Layout Navigation */
header
  position: sticky !important
  width: 100% !important
  height: 75px !important
  top: 0px !important
  left: 0 !important
  +CrossBrowser(z-index,200)
#main_header_nav
  background: #fff !important

  .navbar-collapse,
    background: #fff !important

  .m-nav-item
    padding: 6px  !important
    color: #000 !important
    margin: -3px !important

    &:hover
      color: $secondary !important
    .m-nav-link
      color: inherit !important
      font: 600 1.2rem Helvetica, sans-serif !important
      text-transform: uppercase !important
      +CrossBrowser(transition, .2s ease-in-out !important)
    &.active
      .m-nav-link
        border-bottom: 2px solid $secondary !important

  .button
    color: #000 !important
    span
      color: #000 !important
