// NAVIGATION 

header
  display: block
  width: 100vw
  height: 50vh

.l-nav-sticky
  display: block
  position: sticky
  top: 0
  z-index: 10
  background: rgba(0, 0, 0, .5)
  max-height: 85px
  height: auto
