{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
{% include  'countrycuzzins/snippets/messages.html' %}

<section id="profile_section">
  <div class="row">
    <div class="col-12">

      <div class="profile-main-container">
        <!--Profile Top-->
        <div class="pf-wrapper pf-wrapper--top">
          <!--Banner-->
          <div class="m-banner"
            style="background-image: url('{% static 'media/images/decorative/profile_background.png' %}')">
            <div class="m-banner--header">
              {# user tray #}
              <div class="user-tray user-tray--fl">
                <img src="{{ user.profile.getImage }}" alt="Profile Image" class="m-img m-img--profile bg bdr-3-info">
                <h3 class="m-title m-title--bg username">{{user.username}}</h3>
              </div>
            </div>{# banner #}
            <div class="m-banner--content">
              <legend class="border-bottom mb-4">
                <h2 class="m-title m-title--bg">Profile Info</h2>
              </legend>
              <div class="form-toggle desktop-hidden">
                <button role="button" data-toggle="#profile_account_form" class="fa fa-user-circle  pf-toggler"
                  aria-hidden="true">
                  <span>Update Account</span>
                </button>
                <button role="button" data-toggle="#profile_image_form" class="fa fa-picture-o pf-toggler"
                  aria-hidden="true">
                  <span>Update Image</span>
                </button>
              </div>
            </div>
          </div> {# banner #}
        </div>{# profile--top #}

        <!--Profile Bottom-->
        <div class="pf-wrapper pf-wrapper--bottom">
          <div class="pf-form-container">
            <!--form info update-->
            <div class="m-form--info-update form-wrapper" id="profile_account_form">
              <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                  <div class="form-title">
                    <h2 class="m-title">Update account info</h2>
                  </div>
                  <hr>
                  <div class="m-form">
                    {{ u_form|crispy }}
                  </div>
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
              </form>
            </div>

            <!--form image update-->
            <div class="m-form--image-update form-wrapper mobile-hidden" id="profile_image_form">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                  <div class="form-title">
                    <h2 class="m-title">Update profile image</h2>
                  </div>
                  <hr>
                  <div class="user-tray--inner-grid">
                    <h2 class="m-subtitle">
                      <span class="bold">Username:</span>
                      {{ user.username }}
                    </h2>
                    <hr>
                    <h2 class="m-subtitle">
                      <span class="bold">Email:</span>
                      {{ user.email }}
                    </h2>
                  </div>
                  <hr>
                  <div class="m-form m-form--image-upload">
                    <img class="m--img m-img--thumbnail" src="{{ user.profile.getImage }}" alt="Profile Thumbnail">
                    {{ p_form| crispy }}
                  </div>
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
              </form>
            </div>{# form image #}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock body %}