{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
{% include  'countrycuzzins/snippets/messages.html' %}

<section id="profile_section">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="profile-container">
        <div class="profile-banner"
          style="background-image: url('{% static 'media/images/decorative/profile_background.png' %}')">
          <div class="banner-header">
            <div class="img-container">
              <img class="profile-img" src="{{ user.profile.image.url }}" data-color="blue" alt="Profile Image">
            </div>
            <h2 class="m-title m-title--bg">{{user.username }}</h2>
            <h3 class=" m-subtitle">{{user.email }}</h3>
          </div>
        </div>
        <div class="form-container">

          <legend class="m-title m-title--bg border-bottom mb-4">
            <span>Profile Info</span>
          </legend>
          <div class="m-profile">
            <!--form left -->
            <div class="m-profile--left">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                  <h3 class="m-form--title">Update profile image</h3>
                  <hr>
                  <div class="user-tray m-flex m-flex--inline">
                    <h2 class="m-user m-user--title user">{{ user.username }}</h2>
                    <h3 class="m-user m-user--title email">{{ user.email }}</h3>
                  </div>
                  <hr>
                  <div class="m-form" id="profile_image_form">
                    {{ p_form|crispy }}
                  </div>
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
              </form>
            </div>

            <!--form right -->
            <div class="m-profile--right">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                  <h3 class="m-form--title">Update account info</h3>
                  <hr>
                  <div class="m-form" id="profile_user_form">
                    {{ u_form|crispy }}
                  </div>
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}