{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
{% include 'core/snippets/alert_message.html' %}


<style>
  #div_id_image label{ /*django built in form label class */
    visibility: hidden !important;
  }
  #profile_username{ font-size: calc(1em + 3vw); letter-spacing:.12ch;}
  legend h2 { font-size: calc(1em + 2vw) !important; letter-spacing:.12ch;}

</style>
<section id="profile_section">
  <section id="profile-top">
    <div class="row">
      <div class="col-12">
        <!--Profile Top-->
        <div class="pf-wrapper pf-wrapper--top">
          <!--Banner-->
          <div class="hero m-banner greyscaled position-relative overlay-1"

            style="background-image: url('{% static 'media/images/decorative/profile_background.png' %}')">
            <div class="inner-hero overlay-2 position-relative top-0 start-0 zed-3">
              <div class="hero__top row m-2">
                <div class="col-4">
                  <img class="img-thumbnail rounded-circle border-0 border-info" src="{{ user.profile.getImage }}" alt="{{user.username}} profile image"
                    style="width:calc(6em + 10vw);">

                </div>
                <div class="col-8">
                  <h3 id="profile_username" class="ff-ant h-100 d-flex align-items-center align-content-left">{{user.username}}</h3>
                </div>
              </div>
              <div class="hero__bottom">
                <legend class="border-bottom mb-4">
                  <h2 class="m-title text-uppercase">Profile Info</h2>
                </legend>
                <div class="form-toggle desktop-hidden mb-2">
                  <!--update profile-->
                  <button class="btn btn-primary pf-toggler" data-toggle="#profile_account_form" aria-hidden="true">
                    <i class="fa fa-user-circle bg-transparent"> </i>
                    <span>Update Account</span>
                  </button>

                  <!--update image-->
                  <button class="btn btn-success pf-toggler" data-toggle="#profile_image_form" aria-hidden="true">
                    <i class="fa fa-picture-o pf-toggler bg-transparent"> </i>
                    <span>Update Image</span>
                  </button>
                </div>
              </div>
            </div>
          </div> {# banner #}
        </div>{# profile--top #}
      </div>
    </div>
  </section>


  <section id="profile-update">
    <!--Profile Bottom-->
    <div class="wrapper px-3 my-2">
      <div class="row">
        <div class="col-sm-6 mb-4">

          <div class="card shadow h-100" id="profile_account_form">
            <div class="card-body">
              <form method="POST" action="{{request.user.profile.get_absolute_url}}">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{request.user.username}}">
                <fieldset class="form-group">
                  <div class="form-title">
                    <h2 class="m-title">Update account info</h2>
                  </div>
                  <hr>
                  <div class="m-form">
                    {{ u_form|crispy }}
                  </div>
                </fieldset>
                <hr>
                <div class="form-group">
                  <button class="btn btn-outline-info btn-block" type="submit">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card shadow h-100" id="profile_image_form">
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                  <div class="form-title">
                    <h2 class="m-title">Update profile image</h2>
                  </div>
                  <hr>
                  <div class="user-tray--inner-grid">
                    <h2 class="m-subtitle">
                      <span class="text-dark"><b>Username:</b></span>
                      <span class="font-weight-bold">{{ user.username }}</span>
                    </h2>
                    <hr>
                    <h2 class="m-subtitle">
                      <span class="text-dark"><b>Email:</b></span>
                      <span class="font-weight-bold">{{ user.email }}</span>
                    </h2>
                  </div>
                  <hr>
                  <div class="m-form m-form--image-upload">
                    <img class="m--img m-img--thumbnail bdr-3-info" src="{{ user.profile.getImage }}" alt="Profile Thumbnail">
                    {{ p_form| crispy }}
                  </div>
                </fieldset>
                <hr>
                <div class="form-group">
                  <button class="btn btn-outline-info btn-block" type="submit">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>


{% endblock body %}