.slider-container
  margin: 50px auto
  padding: 10px 50px
  width: 400px

input[type="number"]

#slider
  -webkit-appearance: none
  appearance: none
  -webkit-appearance: none
  border: 1px solid red
  height: 5px
  vertical-align: middle
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  background-color: red
  outline: none

#slider::-webkit-slider-thumb
  -webkit-appearance: none
  width: 20px
  height: 20px
  border: 1px solid #000000
  -webkit-border-radius: 10px
  border-radius: 10px
  background: #ffffff
