{% extends 'countrycuzzins/base.html' %}
{% load static %}
{% load countrycuzzins_extras%}
{% block body %}
<section id="login_section">
  {% include  'countrycuzzins/snippets/messages.html' %}
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="m-widget">
          {% comment %}
          <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username or Email</label>
              <input type="text" class="form-control" id="username" aria-describedby="usernameHelp">
              <small id="usernameHelp" class="form-text text-muted">Enter your Username or Email.</small>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {% endcomment %}

          <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}

            <table>
              <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
              </tr>
              <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
              </tr>
            </table>

            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}