{% extends 'countrycuzzins/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load countrycuzzins_extras%}
{% block body %}
<section id="login_section">
  {% include  'countrycuzzins/snippets/messages.html' %}
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-6">
        <div class="m-widget m-account-widget">
          <div class="m-banner" id="signup_banner">
            <div class="m-banner m-banner--header">
              <h1 class="m-title m-title--up">Sign In</h1>
              <p class="m-subtitle">Connect now to stay tune with the latest news and update </p>
            </div>
          </div>
          <hr class="hr hr--dark">
          <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-group">

              {{ form.username.label_tag }}<br>
              {{ form.username| add_class:"form-control" }}
              <small>{{ form.help_text|safe }} </small>
            </div>
            <div class="form-group">
              {{ form.password.label_tag }}<br>
              {{ form.password| add_class:"form-control" }}
            </div>

            <button class="btn btn-outline-primary" type="submit">Login</button>
            <input type="hidden" name="next" value="{{ next }}">
          </form>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-6">
        {% include  'countrycuzzins/snippets/aside/social_media_banner.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock body %}